@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TU SALUD EN MIS MANOS</h1>
</div>
<br>
<div class="text-center">
    <h4 class="display-5">
        La empresa “Tu salud en mis manos” es una distribuidora de fármacos a nivel
        nacional, actualmente cuenta con un inventario de fármacos los cuales son
        distribuidos por telefono(+502 12345678) y una aplicacion web
    </h4>
</div>
<br>
<div class="text-center">
    <a href="https://localhost:44325/Home/CreateCSV" class="btn btn-info">Cargar Inventario</a>
</div>
<br>
<div class="text-center">
    <a href="https://localhost:44325/Home/IngresoPedido" class="btn btn-info">Cargar Pedido</a>
</div>
<br>
<div class="text-center">
    <a href="https://localhost:44325/Home/ListaMedicina" class="btn btn-info">Listado de Inventario</a>
</div>
<br>
<form asp-action="Abastecer" class="text-center">
    <div class="form-group">
        <input type="submit" value="Abastecer Medicaentos Agotados" class="btn btn-primary" />
    </div>
</form>