@model IEnumerable<Laboratorio3.Models.NodoCarrito>

@{
    ViewData["Title"] = "ListaCarrito";
}

<h1>ListaCarrito</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-action="AceptarCarrito" class="text-center">
    <div class="form-group">
        <input type="submit" value="Aceptar Compra" class="btn btn-primary" />
    </div>
</form>